<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="menu/cabecera :: cabeceraFragment">
 	</head>
    
    <body >    
        <!-- MENU INICIO -->  
        <div th:replace="menu/menu :: menuFragment">
 		</div>
        <!-- MENU FIN -->

        <div id="main-container">        
	       
            <h1  class="texto-titulo" th:text ="${titulo}"></h1>
             <div  id="fechaactual"><i onclick="actualizar()">HOY: </i></div>
            
            <div class="alert alert-success" th:if="${success!=null}" th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error!=null}" th:text="${error}"></div>
			<div class="alert alert-warning" th:if="${warning!=null}" th:text="${warning}"></div>
			<div class="alert alert-info" th:if="${info!=null}" th:text="${info}"></div>		            
            
            
            <div th:object="${role}" th:remove="tag">
	            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
					<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>                
            </div>
            
           <main>
			   <form th:action="@{/formRole}" th:object="${role}" method="post">
			   <div>
					<label >Usurio</label>
					<div>		
						<input class="casilla" type="text" th:field="*{usuario.id}" autofocus />
						<small class="form-text text-danger" ></small>
					</div>
				</div>
				
				<div>
					<label >Rol</label>
					<select th:field="*{authority}">	
					    <option th:value="'ROLE_USER'" th:text="ROLE_USER" selected="selected"></option>
					    <option th:value="'ROLE_ADMIN'" th:text="ROLE_ADMIN" ></option>
					</select>
				</div>			
				<div >		
				<div>		
					<input type="submit" value="Guardar" class="btn-guardar"/>
					<input type="hidden" th:field="*{id}" />
				
				</div>
				</div>
				
			   </form>
           </main>            
        </div>         
    </body>
    
     <footer th:replace="menu/footer :: footerFragment">		
	</footer>
</html>